* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

#signUp {
    display: none;
    height: 36rem;
    width: 22rem;
    border-radius: 1rem;
    background-color: silver;
    box-shadow: 0px 0px 30px 8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 30px 8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 30px 8px rgba(0, 0, 0, 0.75);
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

h1 {
    margin-bottom: 1rem;
}

input {
    width: 90%;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    border: 2px solid black;
}

select {
    width: 90%;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    border: 2px solid black;
    margin-bottom: 1rem;
}

button {
    font-size: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 0.4rem;
    border: 1px solid black;
    margin-bottom: 1rem;
}

p {
    color: blue;
    font-size: 1.2rem;
    cursor: pointer;
}

p:hover {
    transition: 0.2s all;
    font-size: 1.4rem;
}



#loginForm {
    /* display: none; */
    height: 18rem;
    width: 20rem;
    border-radius: 1rem;
    background-color: silver;
    box-shadow: 0px 0px 30px 8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 30px 8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 30px 8px rgba(0, 0, 0, 0.75);
}

#welcomeUser {
    display: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#todoh1{
    display: none;
}
#todoInput{
    display: none;
}
#todoAddBtn{
    display: none;
}
.todo-container{
    display: flex;
}

.li{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    list-style-type: none;
    gap: 1rem;
    font-size: 1.5rem;
}
button{
    padding: 0.4rem 0.8rem;
}